*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.list-box::-webkit-scrollbar {
  background-color: #d4d4d4;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 100%;
  list-style-type: none;
  background: linear-gradient(to bottom, rgb(135, 13, 217), rgb(193, 6, 240));
}
.list-box {
  display: flex;
  justify-content: center;
  position: relative;
  width: 880px;
  max-width: 100%;
  min-height: 70vh;
  border-radius: 100px 0px 0px 100px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 2px rgb(56, 4, 90);
  overflow-x: hidden;
  z-index: 1;
}
.list-header {
  width: 863px;
  height: 230px;
  border-radius: 100px 0 0 0;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0px 10px 50px 0px #cfcfcf;
  z-index: 1;
}
.list-header h1 {
  position: absolute;
  left: 200px;
  top: 50px;
  font-size: 42px;
  font-family: "Russo One";
  color: #424242;
}
.list-header img {
  width: 100px;
  position: absolute;
  left: 650px;
  top: 20px;
  filter: invert(35%);
}
#input-search {
    width: 500px;
    height: 50px;
    border-radius: 50px;
    border: none;
    outline: none;
    border: 2px solid rgb(135, 13, 217);
    font-size: 20px;
    font-weight: 600;
    padding: 0px 22px;
    background: linear-gradient(to right, #ffffff, #b10adb59);
    position: absolute;
    top: 160px;
    left: 80px;
}
.list-header button {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 160px;
    left: 600px;
    border-radius: 50px;
    border: 2px solid rgb(116, 6, 116);
    background: linear-gradient(to right, rgb(235, 8, 197), rgb(144, 6, 236));
    color: #ffffff;
    font-size: 20px;
    font-family: "Russo One";
    cursor: pointer;
}
.list-header button:hover {
    background: linear-gradient(to right, rgb(233, 112, 213), rgb(167, 84, 223));
}
.list {
  width: 720px;
  min-height: 50vh;
  padding-top: 15px;
  position: absolute;
  top: 140px;
  left: 80px;
}
.list ul {
  position: absolute;
  top: 100px;
  left: 30px;
  font-size: 22px;
  list-style: none;
  font-family: "Lato";
}
.list li {
  margin-top: 30px;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.list li::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -60px;
  width: 40px;
  height: 40px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Circle_frame.svg/480px-Circle_frame.svg.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.list li img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -5px;
  left: 700px;
  background-image: url();
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.list li img.checked {
  opacity: 0.6;
}
.list li.checked::before {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Eo_circle_deep-purple_checkmark.svg/2048px-Eo_circle_deep-purple_checkmark.svg.png);
}
.list li.checked-text {
  text-decoration: line-through;
  text-decoration-color: rgb(135, 13, 217);
}
.list li::after.checked-xmark {
  opacity: 0.6;
}
